<!DOCTYPE html>
<html lang = "en-US">
	<link rel = "stylesheet"
	type = "text/css"
	href = "/static/style.css" />
	<img src="/static/1200px-NASA_logo.svg.png" class="logo" title="This is not our logo.">
	<span class="header">The <b>N</b>ational* <b>A</b>gile and <b>S</b>crum <b>A</b>ssociation</span>
	<br/>
	<p class="subtitle">*Not actually national</p>
<head>
	<title>Clickbait Detector | The NASA</title>
</head>
<body>
<h1 class="line"/></h1>
<div class="sidenav">
	<a href="#">Home</a>
	<a href="#">Current Projects</a>
	<a href="#">Clickbait Detector</a>
	<a href="#">About Us</a>
	<a href="#">Privacy Policy</a>
</div>
	<h1 class="vline"></h1>
<div class="main">
	<h1 style="text-align: center; font-size:300%">Clickbait Detector</h1>
	<form method="POST" style="text-align: center">
		<input name="text"> <br/> <br/>
		<input type="submit" value="Is it clickbait?">
	</form>
	<p><strong><span class="output">{{ clickbait }}</span></strong><p>
</div>
</body>
</html>
