<!DOCTYPE html>
<html lang = "en-US">
	<link rel = "stylesheet"
	type = "text/css"
	href = "style.css" />
	<img src="1200px-NASA_logo.svg.png" class="logo" title="this is not our logo">
	<span class="header">The <b>N</b>ational* <b>A</b>gile and <b>S</b>crum <b>A</b>ssociation</span>
	<br/>
	<p class="subtitle">*Not actually national</p>
<h1 class="line"></h1>
<h1 style="text-align: center; font-size:300%">Clickbait Detector</h1>
<form method="POST" style="text-align: center">
	<input name="text"> <br/> <br/>
	<input type="submit" value="Is it clickbait?">
</form>
<p><strong><span class="output">{{ clickbait }}</span></strong><p>
</html>