p {
	color: red;
	text-align: center;
}

.header {
	font-size: 500%;
	color: darkblue;
	vertical-align: middle;
}

.subtitle {
	font-size: 60%;
	color: darkblue;
	text-align: center;
}

.output {
	font-size: 300%;
}

.logo {
	height: 10%;
	width: 10%;
	vertical-align: middle;
}

.line {
	width: 100%;
	background: #44f;
	height: 20px;
}

.vline {
	border-left: 20px solid #4444ff;
	height: 820px;
	margin-left: 220px;
	margin-top: -820px;
}

/* The sidebar menu, modified from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidenav {
	height: 800px; /* Full-height: remove this if you want "auto" height */
	width: 200px; /* Set the width of the sidebar */
	background-color: #226; /* Blue */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Style page content */
.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
	margin-top: -820px;
}